<%- include ('../../partials/header.ejs') %>
    <%- include ('../../partials/navbar.ejs') %>

        <div class="container">
            <hr>
            <div class="card">
                <div class="card-header">
                    <h2>Novo Artigo</h2>
                </div>
                <div class="card-body">
                <form method="post" action="/articles/save">
                    <input class="form-control" type="text" name="title" placeholder="Defina o titulo do artigo">
                    <br>
                    <textarea name="body" class="form-control" id="article" cols="30" rows="10" placeholder="Escreva o artigo aqui!"></textarea>
                    
                    <br>
                    <label for="">Categorias</label>
                    <select name="category" class="form-control" id="">
                        <% categories.forEach((category) => { %>
                            <option value="<%= category.id %>"><%= category.title %></option>
                        <% }) %>
                    </select>
                    <br>
                    <button class="btn btn-success">Cadastrar</button>
                <br>
                </form>
            </div>
        </div>
    </div>
        <%- include ('../../partials/footer.ejs') %>

        <script src="/tinymce/js/tinymce/tinymce.min.js"></script>
        <script>
            tinymce.init({
                selector: "#article",
                plugins: 'advlist autolink link image lists print preview hr searchplace wordcount fullscreen insertdatetime media save table paste emoticons'
                
            })
        </script>